{% extends 'base.html' %}
{% block content %}

<style>
    form {
        margin: 30px;
    }

    .custom-select {
        min-width:40%;
    }

    .red {
        color: red;
    }

</style>


<form class="text-center" method="POST" action="../addApplicantRole/{{ applicant.id }}">
    {% csrf_token %}
    <h2 class="text-center">New Role for {{ applicant.name}}</h2>
    <div class="flex">
        <div class="mb-3">
            <label for="role" class="form-label">Role <span class="red">*</span></label><br>
            <select required class="custom-select" name="role">
                <option selected>---</option>
                {% for role in roles %}
                <option value="{{ role.id }}">{{ role }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status <span class="red">*</span></label><br>
            <select required class="custom-select" name="status">
                <option selected>---</option>
                {% for stat in status %}
                    <option value="{{ stat }}">{{ stat }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="text-center">
        <br>
        <button type="submit" class="btn btn-primary">Add Role</button>
        <a href="../applicant/{{ applicant.id }}" class="btn btn-secondary">Go Back</a>
    </div>
</form>


{% endblock %}
